body {
  width: 1140px;
  margin: 0 auto;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  font-size: 48px;
  font-weight: 700;
}
.navbar ul {
  display: flex;
  gap: 32px;
  list-style: none;
}
.navbar .list-item,
.nav-item {
  font-size: 20px;
  font-weight: 400;
}
/* similar styling  */
.button {
  padding: 16px 32px;
  color: #fff;
  background-color: #fd6e0a;
  text-decoration: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
}
/* color */
.red {
  color: #fd6e0a;
}
